/* Importa a fonte Greek Freak */
@font-face {
  font-family: 'Greek Freak';
  src: url('/static/fonts/Greek-Freak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fundo com imagem ocupando a tela inteira */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Greek Freak', sans-serif;
}

body {
  background: url('/static/image/fundo3.jpg') no-repeat center center fixed;
  background-size: cover;
  
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
 /* background-color: rgba(0,0,0,0.5)*/; /* escurece o fundo */
  z-index: -1;
}

/* Título e Sub*/
h1 {
  margin-top: 20px;
  color: #000000;
  text-align: center;
  font-family: 'Greek Freak', sans-serif;
}

p {
margin-top: 20px;
color: #FF7F00;
text-align: center;
 font-family: 'Greek Freak', sans-serif;
}

/* Labirinto */
.grid {
  display: grid;
  grid-template-columns: repeat(13, 30px);
  grid-template-rows: repeat(13, 30px);
  margin: 85px auto;
  width: fit-content;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.cell.parede {
  background-color: #ffb06a;
  
}

.cell.inicio {
  background-color: green;
}

.cell.fim {
  background-color: #00A650;
}

.cell.caminho {
  background-color: yellow;
}

/* Botões */
.botoes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button {
  margin: 10px 5px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: 'Greek Freak', sans-serif;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ffa033;
}
