<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/image/logo_1.jpg" type="image/logo_1">

  <title>Labirinto do Minotauro</title>
</head>
<body>
  <h1>Labirinto do Minotauro</h1>
  <p>Clique para escolher o <strong>início</strong> (verde) e o <strong>fim</strong> (vermelho).</p>

  <div id="labirinto" class="grid"></div>

  <div class="botoes">
    <button id="encontrar">🧭 Encontrar Caminho</button>
    <button id="resetar">🔄 Resetar</button>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
